@model EmployeesTracking.Models.PersonelDetayCardViewModel

@{
    ViewData["Title"] = "PersonelListele";
    Layout = "";
}


<!-- Central Modal Warning Demo-->
<div class="modal fade left" id="personelDetayCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-left" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row">
                    <div class="col-3 text-center">
                        <img src="/images/@Model.Resim" alt="@Model.Resim"
                             class="img-fluid z-depth-1-half rounded-circle">
                        <div style="height: 10px"></div>
                        <p class="title mb-0">@Model.Adi</p>
                        <p class="title mb-0" style="font-size: 16px">@Model.Soyadi</p>
                        <br />
                        <p class="text-muted " style="font-size: 13px">Software Developer</p>
                    </div>

                    <div class="col-9">
                        <p>Kimlik Numarası: @Model.TcNo</p>
                        <p>
                            Anne Adı:  @Model.AnaAdi
                        </p>
                        <p>
                            Baba Adı:  @Model.BabaAdi
                        </p>
                        <p>
                            Cinsiyeti:  @Model.GenderName
                        </p>
                        <p>
                            Medeni Durumu:  @Model.MaritalStatusName
                        </p>
                        <p>
                            Doğum Yeri:  @Model.CityName
                        </p>
                        <p class="card-text"><strong>Doğum Tarihi : </strong></p>
                    </div>
                </div>


            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-warning waves-effect" data-dismiss="modal">Kapat</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Warning Demo-->





