@model Libraries.EmployeesTracking.Core.Models.ViewModel.PersonelViewModel
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
@{ var modelboyutu = Model.Id > 0 ? "modal-dialog modal-xl" : "modal-dialog modal-lg"; }
@{ var divclass = Model.Id > 0 ? "col-lg-8" : "col-lg-12"; }

<div class="modal fade" id="personelDetayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="ResimGuncelleModalOpen"></div>
    <div id="PersonelEkleGuncelleSweetAlert2ÖnPlanaCikart" class="@modelboyutu" role="document">

        <div class="modal-content">
            <div class="row row-sm">
                <!-- Güncelleme Ekranı Sol Taraf Başlangıç -->
                @if (Model.Id > 0)
                {
                    <div class="col-lg-4">
                        <div class="card mg-b-20">
                            <div class="card-body">
                                <div class="ps-0">
                                    <div class="main-profile-overview">
                                        <div class="main-img-user profile-user">
                                            <input id="Resim" type="file" asp-for="Resim" class="form-control" hidden>
                                            @if (String.IsNullOrEmpty(Model.Resim))
                                            {
                                                <img id="GuncellenenResmiGosterme" alt="Resim Yok" src="/images/resimYok.jpg"><a class="fas fa-camera profile-edit" href="JavaScript:ImageSelectClick(@Model.Id);"></a>
                                            }
                                            else
                                            {
                                                <img id="GuncellenenResmiGosterme" alt="@Model.Resim" src="/images/@Model.Resim"><a class="fas fa-camera profile-edit" href="JavaScript:ImageSelectClick(@Model.Id);"></a>

                                            }
                                        </div>
                                        <div class="d-flex justify-content-between mg-b-20">
                                            <div>
                                                <h5 class="main-profile-name">@Model.Adi @Model.Soyadi</h5>
                                                <p class="main-profile-name-text">@(Model.Id>0?Model.Position:"Yeni Personel Ekle")</p>
                                            </div>
                                        </div>
                                        @if (Model.Id > 0)
                                        {
                                            <h6>Bio</h6>
                                            <div class="main-profile-bio">
                                                @Model.Hakkinda <a href="">Daha Fazlasını Gör</a>
                                            </div><!-- main-profile-bio -->
                                            <div class="row">
                                                <div class="col-md-4 col mb20">
                                                    <h5>947</h5>
                                                    <h6 class="text-small text-muted mb-0">Çalışma Saati</h6>
                                                </div>
                                                <div class="col-md-4 col mb20">
                                                    <h5>Aktif</h5>
                                                    <h6 class="text-small text-muted mb-0">Durumu</h6>
                                                </div>
                                                <div class="col-md-4 col mb20">
                                                    <h5>150</h5>
                                                    <h6 class="text-small text-muted mb-0">Puanı</h6>
                                                </div>
                                            </div>
                                        }

                                        <!--skill bar-->
                                    </div><!-- main-profile-overview -->
                                </div>
                            </div>
                        </div>
                        <div class="card mg-b-20">
                            <div class="card-body">
                                <div class="main-content-label tx-13 mg-b-25">
                                    contact
                                </div>
                                <div class="main-profile-contact-list">
                                    <div class="media">
                                        <div class="media-icon bg-primary-transparent text-primary">
                                            <i class="icon ion-md-phone-portrait"></i>
                                        </div>
                                        <div class="media-body">
                                            <span>Telefon</span>
                                            <div>
                                                @Model.PhoneNumber
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-icon bg-success-transparent text-success">
                                            <i class="icon ion-logo-slack"></i>
                                        </div>
                                        <div class="media-body">
                                            <span>Yakınının İletişim Numarası</span>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-icon bg-info-transparent text-info">
                                            <i class="icon ion-md-locate"></i>
                                        </div>
                                        <div class="media-body">
                                            <span>Adres</span>
                                            <div>
                                                @Model.Adres
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- main-profile-contact-list -->
                            </div>
                        </div>
                    </div>
                }

                <!-- Güncelleme Ekranı Sol Taraf Son  -->
                <div class="@divclass">
                    <div class="card">
                        <div class="card-body">
                            @if (Model.Id > 0)
                            {
                                <center><div class="mb-4 main-content-label">Personel Güncelleme Ekranı</div></center>
                            }
                            else
                            {
                                <center><div class="mb-4 main-content-label">Personel Ekleme Ekranı</div></center>
                            }


                            <form id="formPersonelDetay" asp-action="PersonelKaydet" style="padding:40px 50px;" enctype="multipart/form-data" class="row g-3" novalidate>

                                <div class="form-group ">
                                    <div class="row">
                                        <input id="Id" type="hidden" asp-for="Id" class="form-control">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="Adi" class="form-label">İsim</label>
                                                @*<input type="text" class="form-control" id="validationCustom01" required />*@
                                                <input id="Adi" asp-for="Adi" class="form-control">
                                                <span asp-validation-for="Adi" class="text-danger"></span>
                                                @*<div class="valid-feedback">İyi görünüyor!</div>
                                                    <div class="invalid-feedback"><span asp-validation-for="Adi" class="text-danger"></span></div>*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="Soyadi" class="form-label">Soyisim</label>
                                                <input id="Soyadi" asp-for="Soyadi" class="form-control">
                                                <span asp-validation-for="Soyadi" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="TcNo" class="form-label">Tc Kimlik Numarası</label>
                                                <input id="TcNo" asp-for="TcNo" maxlength="11" class="form-control" />
                                                <span asp-validation-for="TcNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label>Doğum Tarihi</label>
                                                <input class="form-control me-2" id="DogumTarihi" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                                                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="BabaAdi" class="form-label">Baba Adı</label>
                                                <input id="BabaAdi" asp-for="BabaAdi" class="form-control" />
                                                <span asp-validation-for="BabaAdi" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="AnaAdi" class="form-label">Anne Adı</label>
                                                <input id="AnaAdi" asp-for="AnaAdi" class="form-control">
                                                <span asp-validation-for="AnaAdi" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="main-content-label">
                                                Medeni Hal
                                            </div>
                                            <div class="card">
                                                <input class="btn-check" id="PersonelMedeniDurumEkleGuncelle1" type="radio" value="1" asp-for="MaritalStatusId">
                                                <label class="btn btn-outline-danger" for="PersonelMedeniDurumEkleGuncelle1">Evli</label>

                                                <input class="btn-check" id="PersonelMedeniDurumEkleGuncelle2" type="radio" value="2" asp-for="MaritalStatusId">
                                                <label class="btn btn-outline-danger" for="PersonelMedeniDurumEkleGuncelle2">Bekar</label>
                                                <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="main-content-label">
                                                Cinsiyet
                                            </div>
                                            <div class="card">
                                                <input class="btn-check" id="PersonelCinsiyetEkleGuncelle1" type="radio" value="1" asp-for="GenderId">
                                                <label class="btn btn-outline-primary" for="PersonelCinsiyetEkleGuncelle1">Erkek</label>

                                                <input class="btn-check" id="PersonelCinsiyetEkleGuncelle2" type="radio" value="2" asp-for="GenderId">
                                                <label class="btn btn-outline-primary" for="PersonelCinsiyetEkleGuncelle2">Kadın</label>
                                                <span asp-validation-for="GenderId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label>Doğduğu Şehir</label>
                                                <select id="CityId" asp-for="CityId" asp-items="@ViewBag.Cities" onchange="IlceEklemeIcıniListele()" class="form-control">
                                                    <option selected disabled>Şehir Seçiniz</option>

                                                </select>
                                                <span asp-validation-for="CityId" class="text-danger"></span>
                                                <br />
                                                <label>İlçe</label>
                                                <select id="DistrictId" asp-for="DistrictId" class="form-control">
                                                    <option selected disabled>Şehir seçiniz...</option>
                                                </select>
                                                <span asp-validation-for="DistrictId" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="Position" class="form-label">Çalışacağı Pozisyon</label>
                                                <input id="Position" asp-for="Position" class="form-control">
                                                <span asp-validation-for="Position" class="text-danger"></span>
                                            </div>
                                            <br />
                                            <div class="form-outline">
                                                <label>Kuruma Başlama Tarihi</label>
                                                <input class="form-control me-2" id="KurumBaslamaTarihi" asp-for="KurumBaslamaTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                                                <span asp-validation-for="KurumBaslamaTarihi" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4 main-content-label">İletişim Bilgileri</div>

                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">

                                                <label asp-for="Adres" class="form-label">Adres</label>
                                                <input id="Adres" asp-for="Adres" class="form-control">
                                                <span asp-validation-for="Adres" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
                                                <input id="PhoneNumber" asp-for="PhoneNumber" class="form-control">
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-outline">

                                                <label asp-for="Hakkinda" class="form-label">Hakkinda</label>
                                                <input id="Hakkinda" asp-for="Hakkinda" class="form-control">
                                                <span asp-validation-for="Hakkinda" class="text-danger"></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-outline">
                                                <label asp-for="Mail" class="form-label">Mail</label>
                                                <input id="Mail" asp-for="Mail" class="form-control">
                                                <span asp-validation-for="Mail" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                @*<div class="mb-4 main-content-label">About Yourself</div>
                                    <div class="form-group ">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Profil Resmi</label>
                                            </div>
                                            <div class="col-md-10">
                                                <input id="Resim" type="file" asp-for="Resim" class="form-control">
                                                <span asp-validation-for="Resim" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>*@

                                <button type="submit" id="btnPersonelKaydet" class="btn btn-primary waves-effect waves-light">@(Model.Id>0 ? "Güncelle" : "Ekle") </button>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- /Col -->
            </div>

        </div>
    </div>
</div>

<script>


    $(document).ready(function () {

        IlceEklemeIcıniListele();
    });

    $("#formPersonelDetay").submit(function (e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');

        //Resim Yükleme işlemleri başlangıç
        //var input = document.getElementById("Resim");
        //var files = input.files;
        var formData = new FormData();
        //for (var i = 0; i != files.length; i++) {
        //    formData.append("Resim", files[i]);
        //}
        //Resim Yükleme işlemleri son
        formData.append('Adi', document.getElementById("Adi").value);
        formData.append('Id', document.getElementById("Id").value);
        formData.append('TcNo', document.getElementById("TcNo").value);
        formData.append('Soyadi', document.getElementById("Soyadi").value);
        formData.append('BabaAdi', document.getElementById("BabaAdi").value);
        formData.append('AnaAdi', document.getElementById("AnaAdi").value);
        formData.append('CityId', document.getElementById("CityId").value);
        formData.append('DistrictId', document.getElementById("DistrictId").value);
        formData.append('DogumTarihi', document.getElementById("DogumTarihi").value);
        formData.append('GenderId', $("input[name='GenderId']:checked").val());
        formData.append('MaritalStatusId', $("input[name='MaritalStatusId']:checked").val());
        formData.append('Position', document.getElementById("Position").value);
        formData.append('KurumBaslamaTarihi', document.getElementById("KurumBaslamaTarihi").value);
        formData.append('Adres', document.getElementById("Adres").value);
        formData.append('PhoneNumber', document.getElementById("PhoneNumber").value);
        formData.append('Hakkinda', document.getElementById("Hakkinda").value);
        formData.append('Mail', document.getElementById("Mail").value);



        const Toast = Swal.mixin({
            toast: true,
            showLoaderOnConfirm: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            target: document.getElementById('PersonelEkleGuncelleSweetAlert2ÖnPlanaCikart'),
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });
        Toast.fire({
            icon: 'success',
            title: 'İşlem başarıyla tamamlandı'
        });
        var Hatalar = "";
        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                console.log(result);
                    if (result.success) {
                        $('#personelDetayModal').modal('hide');

                        PersonelleriListele();

                        Toast.fire({ icon: 'success', title: result.message, showConfirmButton: true, target: document.getElementById('divPartial')  });

                    }
                    else {
                        for (var i = 0; i != result.message2.length; i++) {
                            Hatalar += result.message2[i] + "\n";

                        }
                        Toast.fire({ icon: 'error', title: Hatalar, showConfirmButton: true });
                    }
            },
            error: function (err) {

                Toast.fire({ icon: 'error', title: 'Hatalı İşlem', showConfirmButton: true });
            }
        });
    });

    var ilceId = '@Model.DistrictId';

    function IlceEklemeIcıniListele(id) {
        $("#DistrictId").empty();
        $.ajax({
            url: '/Home/PersonelIlcePartial',
            dataType: 'json',
            data: {
                id: $('#CityId').val()
            },
            type: 'GET',
            success: function (response) {
                $("#DistrictId").append('<option value="' + -1 + '">' +
                    "İlçe Seçin" + '</option>');

                $.each(response, function (i, city) {
                    $("#DistrictId").append('<option value="' + city.value + '">' + city.text + '</option>');
                });
                if (ilceId>0) {
                    $("#DistrictId").val(ilceId).change();
                }

            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }

    function ImageSelectClick(PersonelId) {
        debugger;
        /*$('#Resim').click();*/
        $.ajax({
            url: '/Home/PersonelImageUploadCardModel',
            data: {
                id: PersonelId
            },
            type: 'GET',
            success: function (response) {
                $('#ResimGuncelleModalOpen').html(response);
                $("#personelImageUploadModal").modal('show');
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }
</script>

<script>
            //Eski Kodlar
            //Resim Upload Etmek İçin Kodlarda değişikliğe gittim
            //$("#formPersonelDetay").submit(function (e) {
            //    e.preventDefault();

            //    var form = $(this);
            //    var url = form.attr('action');

            //    $.ajax({
            //        type: "POST",
            //        url: url,
            //        data: form.serialize(),
            //        success: function (result) {
            //            console.log(result);
            //            if (result.success) {
            //                $('#personelDetayModal').modal('hide');

            //                PersonelleriListele();

            //                swal("Bilgi! ", " İşlem Başarılı", "success");

            //            }
            //            else {
            //                swal("Bilgi! ", result.message, "error");
            //            }
            //        },
            //        error: function (err) {

            //            swal("Bilgi! ", "Kayıt hata", "error");
            //        }
            //    });
            //});




            //Resim mi controllara gönderebiliyorum lakin şehir id gibi bilgiler gitmiyor
            //$("#formPersonelDetay").submit(function (e) {
            //    e.preventDefault();
            //    var input = document.getElementById(resimm);
            //    var files = input.files;
            //    var formData = new FormData();

            //    for (var i = 0; i != files.length; i++) {
            //        formData.append("files", files[i]);
            //        var form = $(this);
            //        var url = form.attr('action');

            //        $.ajax({
            //            type: "POST",
            //            url: url,
            //            data: formData,
            //            success: function (result) {
            //                console.log(result);
            //                if (result.success) {
            //                    $('#personelDetayModal').modal('hide');

            //                    PersonelleriListele();

            //                    swal("Bilgi! ", " İşlem Başarılı", "success");

            //                }
            //                else {
            //                    swal("Bilgi! ", result.message, "error");
            //                }
            //            },
            //            error: function (err) {

            //                swal("Bilgi! ", "Kayıt hata", "error");
            //            }
            //        });
            //    });



@*    var ilId = '@Model.il_id';
    var ilceId = '@Model.ilce_id';
    var mahalleId = '@Model.mahalle_id';

    $(document).ready(function () {


        $("#ulke_id").change(function () {
            $.getJSON("/Home/TanimGetir", { ustId: $("#ulke_id").val() }, function (data) {
                var items = '';
                items += "<option value='0'>Seçiniz</option>";
                $.each(data, function (i, item) { items += "<option value='" + item.id + "'>" + item.degeri + "</option>"; });
                $("#il_id").empty().html(items);

                if (ilId > 0)
                    $("#il_id").val(ilId).trigger("change");
                ilId = 0;
            });
        });

        $("#il_id").change(function () {
            $.getJSON("/Home/TanimGetir", { ustId: $("#il_id").val() }, function (data) {
                var items = '';
                items += "<option value='0'>Seçiniz</option>";
                $.each(data, function (i, item) { items += "<option value='" + item.id + "'>" + item.degeri + "</option>"; });
                $("#ilce_id").empty().html(items);

                if (ilceId > 0)
                    $("#ilce_id").val(ilceId).trigger("change");
                ilceId = 0;
            });
        });

        $("#ilce_id").change(function () {
            $.getJSON("/Home/TanimGetir", { ustId: $("#ilce_id").val() }, function (data) {
                var items = '';
                items += "<option value='0'>Seçiniz</option>";
                $.each(data, function (i, item) { items += "<option value='" + item.id + "'>" + item.degeri + "</option>"; });
                $("#mahalle_id").empty().html(items);

                if (mahalleId > 0)
                    $("#mahalle_id").val(mahalleId).change();
                mahalleId = 0;
            });
        });

        $('#ulke_id').trigger('change');

    });*@
</script>