@model EmployeesTracking.Models.PersonelViewModel
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <div class="modal fade" id="personelDetayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="formPersonelDetay" asp-action="PersonelKaydet" style="padding:40px 50px;" enctype="multipart/form-data" class="row g-3">
                    @*<div asp-validation-summary="All" id="hatalar"> </div>*@
                    <input id="Id" type="hidden" asp-for="Id" class="form-control">
                    <div class="col-md-6">
                        <label asp-for="Adi" class="form-label">İsim</label>
                        <input id="Adi" asp-for="Adi" class="form-control">
                        <span asp-validation-for="Adi" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Soyadi" class="form-label">Soyisim</label>
                        <input id="Soyadi" asp-for="Soyadi" class="form-control">
                        <span asp-validation-for="Soyadi" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="TcNo" class="form-label">Tc Kimlik Numarası</label>
                        <input id="TcNo" asp-for="TcNo" maxlength="11" class="form-control">
                        <span asp-validation-for="TcNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="BabaAdi" class="form-label">Baba Adı</label>
                        <input id="BabaAdi" asp-for="BabaAdi" class="form-control">
                        <span asp-validation-for="BabaAdi" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="AnaAdi" class="form-label">Anne Adı</label>
                        <input id="AnaAdi" asp-for="AnaAdi" class="form-control">
                        <span asp-validation-for="AnaAdi" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Erkek</label>
                            <input type="radio" value="1" asp-for="GenderId" />
                            <br />
                            <label>Kadın</label>
                            <input type="radio" value="2" asp-for="GenderId" />
                            <span asp-validation-for="GenderId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp="Doğum Yeri">Doğum Yeri</label>
                            <select id="CityId" asp-for="CityId" asp-items="@ViewBag.Cities" onchange="IlceEklemeIcıniListele()" class="form-control">
                                <option selected disabled>Şehir Seçiniz</option>

                            </select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp="Doğum Yeri">İlçe</label>
                            <select id="DistrictId" asp-for="DistrictId" class="form-control">
                                <option selected disabled>Şehir seçiniz...</option>
                            </select>
                            <span asp-validation-for="DistrictId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Evli</label>
                            <input id="MaritalStatusId" type="radio" value="1" asp-for="MaritalStatusId" />
                            <br />
                            <label>Bekar</label>
                            <input id="MaritalStatusId" type="radio" value="2" asp-for="MaritalStatusId" />
                            <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Doğum Tarihi</label>
                            <input class="form-control me-2" id="DogumTarihi" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Profil Resmi</label>
                            <input id="Resim" type="file" asp-for="Resim" class="form-control">
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" id="btnPersonelKaydet" class="btn btn-success"> Personel Kaydet  </button>
                        @*<center><button type="submit" class="btn btn-primary">@( Model.Id>0 ? "Personel Güncelle":"Personel Ekle")</button></center>*@
                    </div>
                </form>

            </div>
        </div>
    </div>


    <script>

    $(document).ready(function () {

        IlceEklemeIcıniListele();
    });

    $("#formPersonelDetay").submit(function (e) {
        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');

        //Resim Yükleme işlemleri başlangıç
        var input = document.getElementById("Resim");
        var files = input.files;
        var formData = new FormData();
        for (var i = 0; i != files.length; i++) {
            formData.append("Resim", files[i]);
        }
        //Resim Yükleme işlemleri son
        formData.append('Adi', document.getElementById("Adi").value);
        formData.append('Id', document.getElementById("Id").value);
        formData.append('TcNo', document.getElementById("TcNo").value);
        formData.append('Soyadi', document.getElementById("Soyadi").value);
        formData.append('BabaAdi', document.getElementById("BabaAdi").value);
        formData.append('AnaAdi', document.getElementById("AnaAdi").value);
        formData.append('CityId', document.getElementById("CityId").value);
        formData.append('DistrictId', document.getElementById("DistrictId").value);
        formData.append('DogumTarihi', document.getElementById("DogumTarihi").value);
        formData.append('GenderId', $("input[name='GenderId']:checked").val());
        formData.append('MaritalStatusId', $("input[name='MaritalStatusId']:checked").val());




        var Hatalar = "";
        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                console.log(result);
                if (result.success) {
                    $('#personelDetayModal').modal('hide');

                    PersonelleriListele();

                    swal("Bilgi! ", result.message, "success");

                }
                else {
                    for (var i = 0; i != result.message2.length; i++) {
                        Hatalar += result.message2[i] + "\n";

                    }
                    swal("Bilgi! ", Hatalar, "error");
                }
            },
            error: function (err) {

                swal("Bilgi! ", "Kayıt hata", "error");
            }
        });
    });

    var ilceId = '@Model.DistrictId';

    function IlceEklemeIcıniListele(id) {
        $("#DistrictId").empty();
        $.ajax({
            url: '/Home/PersonelIlcePartial',
            dataType: 'json',
            data: {
                id: $('#CityId').val()
            },
            type: 'GET',
            success: function (response) {
                $("#DistrictId").append('<option value="' + -1 + '">' +
                    "İlçe Seçin" + '</option>');

                $.each(response, function (i, city) {
                    $("#DistrictId").append('<option value="' + city.value + '">' + city.text + '</option>');
                });
                if (ilceId>0) {
                    $("#DistrictId").val(ilceId).change();
                }

            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }

    </script>

    <script>
        //Eski Kodlar
        //Resim Upload Etmek İçin Kodlarda değişikliğe gittim
        //$("#formPersonelDetay").submit(function (e) {
        //    e.preventDefault();

        //    var form = $(this);
        //    var url = form.attr('action');

        //    $.ajax({
        //        type: "POST",
        //        url: url,
        //        data: form.serialize(),
        //        success: function (result) {
        //            console.log(result);
        //            if (result.success) {
        //                $('#personelDetayModal').modal('hide');

        //                PersonelleriListele();

        //                swal("Bilgi! ", " İşlem Başarılı", "success");

        //            }
        //            else {
        //                swal("Bilgi! ", result.message, "error");
        //            }
        //        },
        //        error: function (err) {

        //            swal("Bilgi! ", "Kayıt hata", "error");
        //        }
        //    });
        //});




        //Resim mi controllara gönderebiliyorum lakin şehir id gibi bilgiler gitmiyor
        //$("#formPersonelDetay").submit(function (e) {
        //    e.preventDefault();
        //    var input = document.getElementById(resimm);
        //    var files = input.files;
        //    var formData = new FormData();

        //    for (var i = 0; i != files.length; i++) {
        //        formData.append("files", files[i]);
        //        var form = $(this);
        //        var url = form.attr('action');

        //        $.ajax({
        //            type: "POST",
        //            url: url,
        //            data: formData,
        //            success: function (result) {
        //                console.log(result);
        //                if (result.success) {
        //                    $('#personelDetayModal').modal('hide');

        //                    PersonelleriListele();

        //                    swal("Bilgi! ", " İşlem Başarılı", "success");

        //                }
        //                else {
        //                    swal("Bilgi! ", result.message, "error");
        //                }
        //            },
        //            error: function (err) {

        //                swal("Bilgi! ", "Kayıt hata", "error");
        //            }
        //        });
        //    });
    </script>