@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesTracking.Models.PersonelViewModel
@{
    ViewData["Title"] = "PersonelListele";
}

@if (TempData["Message"] != null)
{
    @section message
            {
        @await Html.PartialAsync("_message", (string)TempData["Message"])
    }
}

<!doctype html>
<html>
<head>
</head>
<body>


    <br />
    <center><h4>Personeller</h4></center>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İsim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">Tc</th>
                <th scope="col">Baba Adı</th>
                <th scope="col">Anne Adı</th>
                <th scope="col">Cinsiyet</th>
                <th scope="col">Medeni Hal</th>
                <th scope="col">Doğum Yeri</th>
                <th scope="col">Güncelleme</th>
                <th scope="col">Sime</th>
                <th scope="col">Ayrıntı</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Personels.Count() > 0)
            {
                @foreach (var employee in Model.Personels)
                {

                    <tr>
                        <th>@Html.DisplayFor(modelItem => employee.Id)</th>
                        <td>@Html.DisplayFor(modelItem => employee.Adi)</td>
                        <td>@Html.DisplayFor(modelItem => employee.Soyadi)</td>
                        <td>@Html.DisplayFor(modelItem => employee.TcNo)</td>
                        <td>@Html.DisplayFor(modelItem => employee.BabaAdi)</td>
                        <td>@Html.DisplayFor(modelItem => employee.AnaAdi)</td>
                        <td>@Html.DisplayFor(modelItem => employee.GenderId)</td>
                        <td>@Html.DisplayFor(modelItem => employee.MaritalStatusId)</td>
                        <td>
                            
                        </td>
                        <td><a class="btn btn-primary" href="/Home/PersonelEkle/@employee.Id">Güncelle</a></td>
                        <td><a class="btn btn-danger" href="/Home/PersoneSil/@employee.Id">Sil</a></td>
                        <td><a class="btn btn-danger" href="/Home/Index">Ayrıntı</a></td>
                    </tr>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert" text>
                    Daha Önce Kayıtlı Personel Bulunmamakta
                </div>
            }
        </tbody>




    </table>
</body>
</html>
@*@Html.Partial("/Views/Home/Partials/PersonelEkle.cshtml")*@

@*@Html.Partial("/Views/Home/Partials/Update.cshtml")*@

@*@foreach (var employee in ViewData["personeller"] as List<EmployeesTracking.Entities.Personel>)
    {

        <tr>
            <th>@Html.DisplayFor(modelItem => employee.Id)</th>
            <td>@Html.DisplayFor(modelItem => employee.Adi)</td>
            <td>@Html.DisplayFor(modelItem => employee.Soyadi)</td>
            <td>@Html.DisplayFor(modelItem => employee.TcNo)</td>
            <td>@Html.DisplayFor(modelItem => employee.BabaAdi)</td>
            <td>@Html.DisplayFor(modelItem => employee.AnaAdi)</td>
            <td>@Html.DisplayFor(modelItem => employee.Cinsiyet)</td>
            <td>@Html.DisplayFor(modelItem => employee.MedeniHali)</td>
            <td>@Html.DisplayFor(modelItem => employee.CityId)</td>
            <td><a class="btn btn-primary" href="/Home/PersonelEkle/@employee.Id">Güncelle</a></td>
            <td><a class="btn btn-danger" href="/Home/PersoneSil/@employee.Id">Sil</a></td>
            <td><a class="btn btn-danger" href="/Home/Index">Ayrıntı</a></td>
        </tr>
    }*@




