@model EmployeesTracking.Models.PersonelViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "PersonelListele";
    Layout = "_Layout";
    string fullname = Context.Session.GetString("fullname");
}


<!doctype html>
<html>

<head>

</head>
<body>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div style="display:flex" class="yazi">
                &nbsp;
                &nbsp;
                <label>Başlama Tarihi</label>
                <input class="form-control me-2" id="baslangictarih" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                <label>Bitiş Tarihi</label>
                &nbsp;
                <input class="form-control me-2" id="bitistarih" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                <button type="button" class="btn btn-info" id="btnTariheGoreFiltreleme">Ara</button>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-outline-primary" onclick="PersonelListesiniIndır()"> Personel Listesini İndir </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info" id="btnPersonelEkle">Personel Ekle</button>
        </div>
        <div class="col-md-2">
            
            <h4>Hoşgeldin @fullname</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">

            <div class="modal-content">
                <div style="text-align:center">
                    @*<button type="button" class="btn btn-info" id="btnPersonelEkle">Personel Ekle</button>*@
                </div>

                <div class="modal-header">
                    <h5 class="modal-title">Kriterlere Göre Filtreleme</h5>
                </div>

                <form asp-controller="Home" asp-action="Index" method="get">
                    <center>

                        <input class="form-control me-2" id="personeladi" name="q" type="text" placeholder="Personel Adı" aria-label="Ara">
                        <br />
                        <select asp-items="@ViewBag.Cities" id="sehir2" name="sehir" onchange="IlceleriListele(this.value)" class="form-control">
                            <option selected disabled>Doğum Yeri</option>

                        </select>

                        <div class="form-group">
                            <select asp-for="DistrictId" id="Ilceler" class="form-control">
                                <option selected disabled>Şehir seçiniz...</option>
                            </select>
                        </div>
                        <br />
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="gendernumber" id="btnradio1" value="1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio1">Erkek</label>

                            <input type="radio" class="btn-check" name="gendernumber" id="btnradio2" value="2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">Kadın</label>
                        </div>
                        <br />
                        <hr />

                        <input type="radio" class="btn-check" name="maritalnumber" id="vbtn-radio1" value="1" autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-radio1">Evli</label>

                        <input type="radio" class="btn-check" name="maritalnumber" id="vbtn-radio2" value="2" autocomplete="off">
                        <label class="btn btn-outline-danger" for="vbtn-radio2">Bekar</label>
                        <br />
                        <hr />

                        <div class="modal-footer" text-align: center;>
                            <div>
                                <button style="height: 50px; width: 200px; " type="button" id="btnPersonelleriGetir" class="btn btn-outline-primary"> Filtrele </button>
                            </div>

                        </div>
                    </center>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            <div id="divPersoneller">
            </div>
        </div>
    </div>

    <div id="divPartial"></div>

</body>
</html>



<script>
    $(document).ready(function () {

        PersonelleriListele();
    });
    function IlceleriListele(id) {
        $("#Ilceler").empty();
        $.ajax({
            url: '/Home/PersonelIlcePartial',
            dataType: 'json',
            data: {
                id: id
            },
            type: 'GET',
            success: function (response) {
                $("#Ilceler").append('<option value="' + -1 + '">' +
                    "İlçe Seçin" + '</option>');

                $.each(response, function (i, city) {
                    $("#Ilceler").append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }
    $("#btnPersonelleriGetir").click(function () {
        PersonelleriListele();
    });

    function PersonelleriListele() {

        let filtreler = {
            q: $("#personeladi").val(),
            gendernumber: $("input[name='gendernumber']:checked").val(),
            maritalnumber: $("input[name='maritalnumber']:checked").val(),
            sehir: $('#sehir2').val(),
            baslangictarih: $("#baslangictarih").val(),
            bitistarih: $("#bitistarih").val(),
            Districtid: $("#Ilceler").val(),

        };
        $("#divPersoneller").load("/Home/PersonelListesiPartial", filtreler);
    }
    $("#btnTariheGoreFiltreleme").click(function () {
        let filtreler = {
            baslangictarih: $("#baslangictarih").val(),
            bitistarih: $("#bitistarih").val(),
        };
        $("#divPersoneller").load("/Home/PersonelListesiPartial", filtreler);
    });


    $("#btnPersonelEkle").click(function () {
        PersonelDetay(0);
    });

    function PersonelDetay(personelId) {
        $.ajax({
            url: '/Home/PersonelPartial',
            data: {
                id: personelId
            },
            type: 'GET',
            success: function (response) {
                $('#divPartial').html(response);
                $("#personelDetayModal").modal('show');
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }

    function PersonelDetayCardPartial(personelId) {
        $.ajax({
            url: '/Home/PersonelDetayCardPartial',
            data: {
                id: personelId
            },
            type: 'GET',
            success: function (response) {
                $('#divPartial').html(response);
                $("#personelDetayCard").modal('show');
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }


    function PersonelSil(personelId) {
        $.ajax({
            url: '/Home/PersonelSil',
            data: {
                id: personelId
            },
            type: 'GET',
            success: function (result) {
                swal("Bilgi! ", result.message, "success");
                PersonelleriListele();
            },
            error: function (err) {

                swal("Bilgi! ", result.message, "error");
            }
        });
    }



    function PersonelListesiniIndır() {
        window.open("/Home/ExportDynamicExcelBlogList");
    }





</script>

<script>
    //Eski yöntem ile verileri tablo görünümünde listeleme. Yeni revize edilmiş projede bir tane partialview oluşturup onun üzerinden verileri getiriyoruz.

    //$("#btngetlistfilter").click(function () {

    //    let filtreler = {
    //        q: $("#personeladi").val(),
    //        gendernumber: $("input[name='gendernumber']:checked").val(),
    //        maritalnumber: $("input[name='maritalnumber']:checked").val(),
    //        sehir: $('#sehir2').val(),
    //    };

    //    $.ajax({
    //        contentType: "application/json",
    //        dataType: "json",
    //        type: "Get",
    //        url: "/Home/AjaxileFiltrelenVeriGetirme",
    //        data: filtreler,
    //        success: function (func) {
    //            let w = jQuery.parseJSON(func);
    //            console.log(w);
    //            let tablehtml = "<table class=table table-bordered> <tr> <th>#</th> <th>İsim</th>  <th>Soyisim</th>  <th>Tc</th>  <th>Baba Adı</th> <th>Anne Adı</th> <th>Cinsiyet</th> <th>Medeni Hal</th> <th>Doğum Yeri</th>  <th>Güncelleme</th> <th>Sime</th>  <th>Ayrıntı</th> </tr>";
    //            $.each(w, (index, value) => {

    //                /**/
    //                /**/
    //                tablehtml += `<tr><td>${value.Id}</td> <td>${value.Adi}</td> <td>${value.Soyadi}</td> <td>${value.TcNo}</td> <td>${value.BabaAdi}</td> <td>${value.AnaAdi}</td> <td>${value.GenderName}</td> <td>${value.MaritalStatusName}</td> <td>${value.CityName}</td> <td>${value.Adi}</td>   <td><a class="btn btn-primary" href="/Home/PersonelEkle/${value.Id}">Güncelle</a></td>  <td><button type="button" class="btn btn-info editAccount" id="${value.Id}">Personel Sil</button></td> <td><a class="btn btn-danger" href="/Home/Index">Ayrıntı</a></td> </tr>`
    //                /**/
    //                /**/
    //            });
    //            tablehtml += "</table>";
    //            $("#writerlist2").html(tablehtml);
    //        }
    //    });

    //});




    //Aşağıdaki kodlarda işi uzattım o yüzden kullanılmayacak. Sebebi ise ilk önce bir actiona gidip filtreleme yapıyorum sonrada o filtreden gelen veriyi partial olarak kullandığım actiona gönderip oradan kodu kullanıyorum.
    //$("#button1").click(function () {
    //    let filtreler = {
    //        q: $("#personeladi").val(),
    //        gendernumber: $("input[name='gendernumber']:checked").val(),
    //        maritalnumber: $("input[name='maritalnumber']:checked").val(),
    //        sehir: $('#sehir2').val(),
    //    };

    //    $.ajax({
    //        contentType: "application/json",
    //        dataType: "json",
    //        type: "Get",
    //        url: "/Home/AjaxileFiltrelenVeriGetirme",
    //        data: filtreler,
    //        success: function (func) {
    //            let w = jQuery.parseJSON(func);
    //            console.log(w);
    //            $("#div1").load("/Home/PersonelListesiPartial", { personel: w });
    //        }
    //    });
    //    /*        $("#div1").load("/Home/PersonelListesiPartial");*/
    //});



    //$("#btnaddwriter").click(function () {
    //    let writer = {
    //        Id: $("#Id").val(),
    //        Adi: $("#Adi").val(),
    //        Soyadi: $("#Soyadi").val(),
    //        TcNo: $("#TcNo").val(),
    //        BabaAdi: $("#BabaAdi").val(),
    //        AnaAdi: $("#AnaAdi").val(),
    //        GenderId: $("#GenderId").val(),
    //        CityId: $("#CityId").val(),
    //        MaritalStatusId: $("#MaritalStatusId").val(),
    //    };

    //    $.ajax({
    //        type: "post",
    //        url: "/Home/PersonelEkle",
    //        data: writer,
    //        success: function (func) {
    //            let gelenmesaj = jQuery.parseJSON(func);
    //            swal("Tebrikler! ", gelenmesaj, "success");
    //            $("#btngetlistfilter").click();
    //            $("#editEmpModal").modal('hide');
    //        },
    //        error: function (sonucMesaji) {
    //            swal("Hata! ", "Lütfen Tüm Alanları Doldurunuz", "error");
    //        }
    //    });
    //});









    //$(document).on('click', '.addAccount', function () {
    //    let filtreler = {
    //        id: $(this).attr('id'),
    //    };
    //    $("#eklemeguncellemepopup").load("/Home/AjaxileVeriEkleme", filtreler);
    //    $("#editEmpModal").modal('show');
    //});
</script>