@model EmployeesTracking.Models.PersonelViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="main-content app-content">
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- container -->
    <div class="main-container container-fluid">
        <form asp-controller="Home" asp-action="PersonelListele" method="get">

            <div class="breadcrumb-header justify-content-between">
                <div class="my-auto">
                    <div class="d-flex">
                        <h4 class="content-title mb-0 my-auto">Personel</h4><span class="text-muted mt-1 tx-13 ms-2 mb-0">/ Personel Listesi</span>
                    </div>
                </div>
                <div class="d-flex my-xl-auto right-content">
                    <div class="pe-1 mb-xl-0">
                        <button id="btnPersonelEkle" type="button" class="btn btn-primary mb-4"><i class="mdi mdi-human-greeting"></i> Yeni Personel Ekle <i class="mdi mdi-human-greeting"></i> </button>
                    </div>
                    <div class="pe-1 mb-xl-0">
                        <button type="button" class="btn btn-info btn-icon me-2 btn-b"><i class="mdi mdi-filter-variant"></i></button>
                    </div>
                    <div class="pe-1 mb-xl-0">
                        <button onclick="PersonelListesiniIndır()" class="btn btn-danger btn-icon me-2"><i class="mdi mdi-file-excel"></i></button>
                    </div>
                    <div class="pe-1 mb-xl-0">
                        <button type="button" class="btn btn-warning  btn-icon me-2"><i class="mdi mdi-refresh"></i></button>
                    </div>


                </div>
            </div>

            <div id="Tablo">
                <!--<div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="main-content-label mg-b-5">
                            <center>
                                Filtreleme İşlemleri
                            </center>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        İsim:
                                    </div>
                                    <input class="form-control" id="personeladi" name="q" placeholder="Personelin Adını Giriniz" type="text">
                                </div>-->
                <!-- input-group -->
                <!--</div>--><!-- col-4 -->
                <!--<div class="col-lg-3 mg-t-20 mg-lg-t-0">
                <div class="input-group">
                    <div class="input-group-text">
                        Soy İsim:
                    </div>
                    <input class="form-control" id="phoneMask" placeholder="Personelin Soyadını Giriniz" type="text">
                </div>-->
                <!-- input-group -->
                <!--</div>
                <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                    <div class="input-group">
                        <div class="input-group-text">
                            TC Kimlik:
                        </div>
                        <input class="form-control" id="phoneExtMask" placeholder="Personelin Kimlik Numarasını Giriniz" type="text">
                    </div>-->
                <!-- input-group -->
                <!--</div>
                <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                    <div class="input-group">
                        <div class="input-group-text">
                            Telefon Numarası:
                        </div>-->
                <!-- input-group-text -->
                <!--<input class="form-control" id="Telefon Numarası" placeholder="Örn: 530-270-75-78" type="text">
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row row-sm">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="main-content-label mg-b-5">
                                    Doğum Yeri
                                </div>
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            Şehir:
                                        </div>-->
                <!-- input-group-text -->
                <!--<select asp-items="@ViewBag.Cities" id="sehir2" name="sehir" onchange="IlceleriListele(this.value)" class="form-control">
                            <option selected disabled>Şehir seçiniz...</option>

                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group">
                        <div class="input-group-text">
                            İlçe:&nbsp&nbsp&nbsp
                        </div>-->
                <!-- input-group-text -->
                <!--<select asp-for="DistrictId" id="Ilceler" class="form-control">
                                        <option selected disabled>İlçe seçiniz...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- col-4 -->
                <!--<div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="main-content-label mg-b-5">
                                Doğum Tarihi
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    Başlangıç Tarihi:
                                </div>
                                <input class="form-control me-2" id="baslangictarih" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                            </div>
                            <div class="input-group">
                                <div class="input-group-text">
                                    Bitiş Tarihi:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                </div>
                                <input class="form-control me-2" id="bitistarih" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- col-4 -->
                <!--<div class="col-lg-4">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="main-content-label">
                                                    Medeni Hal
                                                </div>
                                                <div class="card">
                                                    <input type="radio" class="btn-check" name="maritalnumber" id="vbtn-radio1" value="1" autocomplete="off">
                                                    <label class="btn btn-outline-danger" for="vbtn-radio1">Evli</label>

                                                    <input type="radio" class="btn-check" name="maritalnumber" id="vbtn-radio2" value="2" autocomplete="off">
                                                    <label class="btn btn-outline-danger" for="vbtn-radio2">Bekar</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="main-content-label">
                                                    Cinsiyet
                                                </div>
                                                <div class="card">
                                                    <input type="radio" class="btn-check" name="gendernumber" id="btnradio1" value="1" autocomplete="off">
                                                    <label class="btn btn-outline-primary" for="btnradio1">Erkek</label>

                                                    <input type="radio" class="btn-check" name="gendernumber" id="btnradio2" value="2" autocomplete="off">
                                                    <label class="btn btn-outline-primary" for="btnradio2">Kadın</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-sm">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <center>
                                        <button style="height: 50px; width: 200px; " type="button" id="btnPersonelleriGetir" class="btn btn-outline-primary"> Filtrele </button>
                                    </center>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>

                        </div>
                    </div>
                </div>-->
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card overflow-hidden">
                        <div class="card-body">

                            <div class="main-content-label mg-b-5">
                                <center>
                                    Filtreleme İşlemleri
                                </center>
                            </div>

                            <br />
                            <div class="row row-sm">
                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            İsim:
                                        </div>
                                        <input class="form-control" id="personeladi" name="q" placeholder="Personelin Adını Giriniz" type="text">
                                    </div><!-- input-group -->
                                </div><!-- col-4 -->
                                <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            Soyad:
                                        </div>
                                        <input class="form-control" id="phoneMask" placeholder="Personelin Soyadını Giriniz" type="text">
                                    </div><!-- input-group -->
                                </div>
                                <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            TC Kimlik:
                                        </div>
                                        <input class="form-control" id="phoneExtMask" placeholder="Personelin Kimlik Numarasını Giriniz" type="text">
                                    </div><!-- input-group -->
                                </div>
                                <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            Telefon Numarası:
                                        </div><!-- input-group-text -->
                                        <input class="form-control" id="Telefon Numarası" placeholder="Örn: 530-270-75-78" type="text">
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="panel-group1" id="accordion11">
                                <div class="panel panel-default  mb-4">
                                    <div class="panel-heading1 bg-primary ">
                                        <h4 class="panel-title1">
                                            <a class="accordion-toggle collapsed" data-bs-toggle="collapse"
                                               data-bs-parent="#accordion11" href="#collapseFour1"
                                               aria-expanded="false">
                                                <i class="fe fe-arrow-right me-2"></i> Detaylı Filtreleme
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                        <div class="panel-body border">


                                            <div class="row row-sm">
                                                <div class="col-lg-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="main-content-label mg-b-5">
                                                                Doğum Yeri
                                                            </div>
                                                            <div class="input-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-text">
                                                                        Şehir:
                                                                    </div><!-- input-group-text -->
                                                                    <select asp-items="@ViewBag.Cities" id="sehir2" name="sehir" onchange="IlceleriListele(this.value)" class="form-control">
                                                                        <option selected disabled>Şehir seçiniz...</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="input-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-text">
                                                                        İlçe:&nbsp&nbsp&nbsp
                                                                    </div><!-- input-group-text -->
                                                                    <select asp-for="DistrictId" id="Ilceler" class="form-control">
                                                                        <option selected disabled>İlçe seçiniz...</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- col-4 -->
                                                <div class="col-lg-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="main-content-label mg-b-5">
                                                                Doğum Tarihi
                                                            </div>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    Başlangıç Tarihi:
                                                                </div>
                                                                <input class="form-control me-2" id="baslangictarih" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                                                            </div>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    Bitiş Tarihi:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                </div>
                                                                <input class="form-control me-2" id="bitistarih" asp-for="DogumTarihi" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddYears(-120).ToString("yyyy-MM-ddThh:mm")" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- col-4 -->
                                                <div class="col-lg-4">
                                                    <div class="card">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="main-content-label">
                                                                    Medeni Hal
                                                                </div>
                                                                <div class="card">
                                                                    <input type="radio" class="btn-check" name="maritalnumber" id="vbtn-radio1" value="1" autocomplete="off">
                                                                    <label class="btn btn-outline-danger" for="vbtn-radio1">Evli</label>

                                                                    <input type="radio" class="btn-check" name="maritalnumber" id="vbtn-radio2" value="2" autocomplete="off">
                                                                    <label class="btn btn-outline-danger" for="vbtn-radio2">Bekar</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="main-content-label">
                                                                    Cinsiyet
                                                                </div>
                                                                <div class="card">
                                                                    <input type="radio" class="btn-check" name="gendernumber" id="btnradio1" value="1" autocomplete="off">
                                                                    <label class="btn btn-outline-primary" for="btnradio1">Erkek</label>

                                                                    <input type="radio" class="btn-check" name="gendernumber" id="btnradio2" value="2" autocomplete="off">
                                                                    <label class="btn btn-outline-primary" for="btnradio2">Kadın</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-sm">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <center>
                                        <button style="height: 50px; width: 200px; " type="button" id="btnPersonelleriGetir" class="btn btn-outline-primary"> Filtrele </button>
                                    </center>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <br />
                    @*Personel Ekleme Ve Güncelleme Popup'un Çağrıldığı Div'*@
                    <div id="divPartial"></div>
                    <div class="main-content-label mg-b-5">
                        <center>
                            Personel Listesi
                        </center>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">


                            <div id="divPersoneller"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Container closed -->
</div>
<!-- main-content closed -->


<script>
    $(document).ready(function () {

        PersonelleriListele();
    });
    function IlceleriListele(id) {
        $("#Ilceler").empty();
        $.ajax({
            url: '/Home/PersonelIlcePartial',
            dataType: 'json',
            data: {
                id: id
            },
            type: 'GET',
            success: function (response) {
                $("#Ilceler").append('<option value="' + -1 + '">' +
                    "İlçe Seçin" + '</option>');

                $.each(response, function (i, city) {
                    $("#Ilceler").append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }
    $("#btnPersonelleriGetir").click(function () {
        PersonelleriListele();
    });

    function PersonelleriListele() {

        let filtreler = {
            q: $("#personeladi").val(),
            gendernumber: $("input[name='gendernumber']:checked").val(),
            maritalnumber: $("input[name='maritalnumber']:checked").val(),
            sehir: $('#sehir2').val(),
            baslangictarih: $("#baslangictarih").val(),
            bitistarih: $("#bitistarih").val(),
            Districtid: $("#Ilceler").val(),

        };
        $("#divPersoneller").load("/Home/PersonelListesiPartial", filtreler);
    }
    $("#btnTariheGoreFiltreleme").click(function () {
        let filtreler = {
            baslangictarih: $("#baslangictarih").val(),
            bitistarih: $("#bitistarih").val(),
        };
        $("#divPersoneller").load("/Home/PersonelListesiPartial", filtreler);
    });


    $("#btnPersonelEkle").click(function () {
        PersonelDetay(0);
    });

    function PersonelDetay(personelId) {
        $.ajax({
            url: '/Home/PersonelEkleGuncellePartial',
            data: {
                id: personelId
            },
            type: 'GET',
            success: function (response) {
                $('#divPartial').html(response);
                $("#personelDetayModal").modal('show');
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }

    function PersonelDetayCardPartial(personelId) {
        $.ajax({
            url: '/Home/PersonelDetayCardPartial',
            data: {
                id: personelId
            },
            type: 'GET',
            success: function (response) {
                $('#divPartial').html(response);
                $("#personelDetayCard").modal('show');
            },
            error: function (err) {

                swal("Bilgi! ", err.status + "-" + err.statusText, "error");
            }
        });
    }


    function PersonelSil(personelId) {
        $.ajax({
            url: '/Home/PersonelSil',
            data: {
                id: personelId
            },
            type: 'GET',
            success: function (result) {
                swal("Bilgi! ", result.message, "success");
                PersonelleriListele();
            },
            error: function (err) {

                swal("Bilgi! ", result.message, "error");
            }
        });
    }



    function PersonelListesiniIndır() {
        window.open("/Home/ExportDynamicExcelBlogList");
    }





</script>

<script>
    //Eski yöntem ile verileri tablo görünümünde listeleme. Yeni revize edilmiş projede bir tane partialview oluşturup onun üzerinden verileri getiriyoruz.

    //$("#btngetlistfilter").click(function () {

    //    let filtreler = {
    //        q: $("#personeladi").val(),
    //        gendernumber: $("input[name='gendernumber']:checked").val(),
    //        maritalnumber: $("input[name='maritalnumber']:checked").val(),
    //        sehir: $('#sehir2').val(),
    //    };

    //    $.ajax({
    //        contentType: "application/json",
    //        dataType: "json",
    //        type: "Get",
    //        url: "/Home/AjaxileFiltrelenVeriGetirme",
    //        data: filtreler,
    //        success: function (func) {
    //            let w = jQuery.parseJSON(func);
    //            console.log(w);
    //            let tablehtml = "<table class=table table-bordered> <tr> <th>#</th> <th>İsim</th>  <th>Soyisim</th>  <th>Tc</th>  <th>Baba Adı</th> <th>Anne Adı</th> <th>Cinsiyet</th> <th>Medeni Hal</th> <th>Doğum Yeri</th>  <th>Güncelleme</th> <th>Sime</th>  <th>Ayrıntı</th> </tr>";
    //            $.each(w, (index, value) => {

    //                /**/
    //                /**/
    //                tablehtml += `<tr><td>${value.Id}</td> <td>${value.Adi}</td> <td>${value.Soyadi}</td> <td>${value.TcNo}</td> <td>${value.BabaAdi}</td> <td>${value.AnaAdi}</td> <td>${value.GenderName}</td> <td>${value.MaritalStatusName}</td> <td>${value.CityName}</td> <td>${value.Adi}</td>   <td><a class="btn btn-primary" href="/Home/PersonelEkle/${value.Id}">Güncelle</a></td>  <td><button type="button" class="btn btn-info editAccount" id="${value.Id}">Personel Sil</button></td> <td><a class="btn btn-danger" href="/Home/Index">Ayrıntı</a></td> </tr>`
    //                /**/
    //                /**/
    //            });
    //            tablehtml += "</table>";
    //            $("#writerlist2").html(tablehtml);
    //        }
    //    });

    //});




    //Aşağıdaki kodlarda işi uzattım o yüzden kullanılmayacak. Sebebi ise ilk önce bir actiona gidip filtreleme yapıyorum sonrada o filtreden gelen veriyi partial olarak kullandığım actiona gönderip oradan kodu kullanıyorum.
    //$("#button1").click(function () {
    //    let filtreler = {
    //        q: $("#personeladi").val(),
    //        gendernumber: $("input[name='gendernumber']:checked").val(),
    //        maritalnumber: $("input[name='maritalnumber']:checked").val(),
    //        sehir: $('#sehir2').val(),
    //    };

    //    $.ajax({
    //        contentType: "application/json",
    //        dataType: "json",
    //        type: "Get",
    //        url: "/Home/AjaxileFiltrelenVeriGetirme",
    //        data: filtreler,
    //        success: function (func) {
    //            let w = jQuery.parseJSON(func);
    //            console.log(w);
    //            $("#div1").load("/Home/PersonelListesiPartial", { personel: w });
    //        }
    //    });
    //    /*        $("#div1").load("/Home/PersonelListesiPartial");*/
    //});



    //$("#btnaddwriter").click(function () {
    //    let writer = {
    //        Id: $("#Id").val(),
    //        Adi: $("#Adi").val(),
    //        Soyadi: $("#Soyadi").val(),
    //        TcNo: $("#TcNo").val(),
    //        BabaAdi: $("#BabaAdi").val(),
    //        AnaAdi: $("#AnaAdi").val(),
    //        GenderId: $("#GenderId").val(),
    //        CityId: $("#CityId").val(),
    //        MaritalStatusId: $("#MaritalStatusId").val(),
    //    };

    //    $.ajax({
    //        type: "post",
    //        url: "/Home/PersonelEkle",
    //        data: writer,
    //        success: function (func) {
    //            let gelenmesaj = jQuery.parseJSON(func);
    //            swal("Tebrikler! ", gelenmesaj, "success");
    //            $("#btngetlistfilter").click();
    //            $("#editEmpModal").modal('hide');
    //        },
    //        error: function (sonucMesaji) {
    //            swal("Hata! ", "Lütfen Tüm Alanları Doldurunuz", "error");
    //        }
    //    });
    //});









    //$(document).on('click', '.addAccount', function () {
    //    let filtreler = {
    //        id: $(this).attr('id'),
    //    };
    //    $("#eklemeguncellemepopup").load("/Home/AjaxileVeriEkleme", filtreler);
    //    $("#editEmpModal").modal('show');
    //});
</script>