@model List<EmployeesTracking.Models.PersonelViewModel>

@{
    Layout = "";
}
<table class="table table-bordered border text-nowrap mb-0" id="new-edit">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">İsim</th>
            <th scope="col">Soyisim</th>
            <th scope="col">Tc</th>
            <th scope="col">Baba Adı</th>
            <th scope="col">Anne Adı</th>
            <th scope="col">Cinsiyet</th>
            <th scope="col">Medeni Hal</th>
            <th scope="col">Doğum Yeri</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => employee.Id)</td>
                    <td>@Html.DisplayFor(modelItem => employee.Adi)</td>
                    <td>@Html.DisplayFor(modelItem => employee.Soyadi)</td>
                    <td>@Html.DisplayFor(modelItem => employee.TcNo)</td>
                    <td>@Html.DisplayFor(modelItem => employee.BabaAdi)</td>
                    <td>@Html.DisplayFor(modelItem => employee.AnaAdi)</td>
                    <td>@Html.DisplayFor(modelItem => employee.GenderName)</td>
                    <td>@Html.DisplayFor(modelItem => employee.MaritalStatusName)</td>
                    <td>@Html.DisplayFor(modelItem => employee.CityName)</td>
                    <td>
                        <div class="btn-list">
                            <button type="button" class="btn btn-sm btn-primary" onclick="PersonelDetay(@employee.Id);"><span class="fe fe-edit"></span></button>
                            <button type="button" class="btn  btn-sm btn-danger" onclick="PersonelSil(@employee.Id)"><span class="fe fe-trash-2"> </span></button>
                            <a class="btn  btn-sm btn-info" onclick="PersonelDetayCardPartial(@employee.Id)"><span class="fe fe-info"> </span></a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert" text>
                Daha Önce Kayıtlı Personel Bulunmamakta
            </div>
        }
    </tbody>
    </table>
